@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Handlee&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}

/* Custom styles */
html {
  scrollbar-gutter: stable;
  background: hsl(210deg 15% 6%);
  /* or hsl(215, 37%, 61%); */
  color-scheme: dark;
  min-height: 100%;
}
ul, ol {
  list-style-type: none;
  padding: 0;
}
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}

/* Basic theme styles */
body {
  padding: 0px 16px;
  /* font-family: 'Gill Sans', sans-serif; */
  font-family: "Averia Serif Libre", serif;
  font-weight: 300;
  font-style: normal;
}

table {
  min-width: 100%;
  border-collapse: collapse;
}
th {
  text-align: left;
  border-bottom: 3px solid hsl(0deg 0% 25%);
}
th[scope="col"] {
  text-align: right;
  border-right: 3px solid hsl(0deg 0% 25%);
  border-bottom: none;
  padding-right: 8px;
}
tr:not(:last-of-type) th[scope="col"],
tr:not(:last-of-type) td {
  border-bottom: 1px solid hsl(0deg 0% 50%);
}

p{
  padding-top: 20px;
  font-size: 1.15vw;
  line-height: 27px;
}

a{
  font-weight: 600;
  color: inherit;
}

a:hover {
  color: #FB7A00;
  text-decoration: none;
}

a:active {
  color: #551A8B;
  text-decoration: none;
}

@media only screen and (max-width: 1300px){
  p{
    font-size: 1em !important;
    padding-top: 18px;
    line-height: 26px;
  }
}